.btnCustom {
	background-color: #ccc;
	color: blue;
	border-radius: 6px;
	border: 1px solid #ccc;
	padding: 12px 24px;
	min-width: 40px;
	transition: all 0.3s ease-in-out;
	&:hover {
		background-color: blue;
		color: white;
	}
}