header {
    width: 100%;
    height: 100px;
    background-color: #ccc;
    display: flex;
    align-items: center;
  
    .logo {
      margin-right: 20px;
      
    }
    img{
      margin-left: 300px;
      margin-right: 100px;
    }
  
    ul {
      display: flex;
      list-style: none;
      margin: 0;
      padding: 0;
  
      li {
        margin-right: 20px;
  
        a {
          text-decoration: none;
          font-size: 16px;
          font-weight: 600;
  
          &:hover {
            color: blue;
          }
        }
      }
    }
  
    .user-menu {
      position: relative;
      cursor: pointer;
    }
    
    .user-menu .dropdown-menu {
      position: absolute;
      right: 0;
      top: 40px;
      display: flex;
      flex-direction: column;
      background-color: #fff;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      border-radius: 5px;
      z-index: 1000;
    }
    
    .user-menu .dropdown-item {
      padding: 10px 20px;
      text-align: left;
      white-space: nowrap;
    }
    
    .user-menu .dropdown-item:hover {
      background-color: #f8f9fa;
      color: #007bff;
    }
  }
  